<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>干扰信息导出</title>
  <style>
    h1
{
	color:orange;
	text-align:center;
}
body
{
	background-color:#d0e4fe;
}
a:link,a:visited
{
	display:block;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	width:120px;
	text-align:center;
	padding:4px;
	text-decoration:none;
}
a:hover,a:active
{
	background-color:#7A991A;
}
</style>
</head>
<body>
   <h1 style="font-style:italic">欢迎来到干扰信息导出模块</h1>

  <form action="/daochu" method="post" enctype="multipart/form-data" style="align: center">
    <legend>请输入相关条件:</legend>
      <p>镇区<input name="zhenqu1"  type="radio" value="禅城" >禅城<input name="zhenqu1"  type="radio" value="顺德" >顺德
        <input name="zhenqu1"  type="radio" value="三水" >三水<input name="zhenqu1"  type="radio" value="南海" >南海<input name="zhenqu1"  type="radio" value="高明" >高明</p>
    <p>日期<input name="date1"  type="date" >--<input name="date2"  type="date" ></p>
      <p>文档名称<input name="file_name"  type="text" >
    <!--<p>干扰地址<br><textarea name="ganraodizhi1" rows="3" cols="30"></textarea></p>-->
    <!--<p>联系方式<input name="lianxi1"  type="text" ></p>-->
    <!--<p>经度<input name="jingdu1"  type="text" ></p>-->
    <!--<p>纬度<input name="weidu1"  type="text" ></p>-->
    <!--<p>处理情况<br><textarea name="chuliqingkuang1" rows="3" cols="30"></textarea></p>-->
    <!--<p>是否完成处理<input name="wanchengchuli1"  type="radio" value="是" >是<input name="wanchengchuli1"  type="radio" value="否" >否</p>-->
    <p><button type="submit" name="submit1" value="submit1">导出</button></p>
    {% if message %}
    <script language="javascript">alert("{{ message }}");</script>
    <!--<p style="color:red">{{ message }}</p>-->
    {% endif %}
  </form>
   <d1>
     <dt><a href=http://localhost:5000>返回</a></dt>
   </d1>
</body>
</html>