<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>图形表格</title>
    <style>
    h1
{
	color:orange;
	text-align:center;
}
body
{
	background-color:#d0e4fe;
}
a:link,a:visited
{
	display:block;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	width:120px;
	text-align:center;
	padding:4px;
	text-decoration:none;
}
a:hover,a:active
{
	background-color:#7A991A;
}
</style>
</head>
<body>
  <h1 style="font-style:italic">请选择各类图表</h1>

  <d1>
      <dt><a href=http://localhost:5000/tubiao>佛山五区干扰处理情况图表 </a></dt>


  </d1>
<d1>
     <dt><a href=http://localhost:5000>返回</a></dt>
   </d1>
</body>
</html>